[submodule "external/discord-rpc"]
	path = external/discord-rpc
	url = https://github.com/YaLTeR/discord-rpc.git
	branch = xp
	shallow = true
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "source_sdk"]
	path = source_sdk
	url = https://github.com/sabianroberts/hl1_source_sdk.git
