[submodule "external/discord-rpc"]
	path = external/discord-rpc
	url = https://github.com/YaLTeR/discord-rpc.git
	branch = xp
	shallow = true
[submodule "source_sdk"]
	path = source_sdk
	url = https://github.com/sabianroberts/hl1_source_sdk.git
[submodule "external/ogg"]
	path = external/ogg
	url = https://github.com/xiph/ogg
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/sabianroberts/openal-soft.git
	branch = halflife
[submodule "external/spectra"]
	path = external/spectra
	url = https://github.com/phoenixprojectsoftware/spectra.git
